{
    "logger_name": "Actuary",
    "logger_file_path": "logs/output_actuary.log",
    "logger_level": 2,
    "logger_max_files": 7,

    "account_flag": "test001",
    "db_host": "",
    "db_port": 3306,
    "db_username": "",
    "db_password": "",
    "db_database": "",

    "benchmark_inst_config_file": "config/benchmark_inst_config.json.sample",
    "follower_inst_config_file": "config/follower_inst_config.json.sample",

    "tg_bot_token": ":-",
    "tg_chat_id": -1,
    "tg_send_message": true,

    "margin_ratio_thresholds": [0.7, 0.9],
    "bnb_balance_thresholds": [0.05, 0.2],
    "order_size_zoom": 1,
    "max_position_zoom": 1,

    "api_key_hmac": "",
    "secret_key_hmac": "",
    "rest_use_intranet": false,
    "rest_local_ip": "",

    "enable_benchmark_ticker_trigger": true,
    "enable_follower_ticker_trigger": false,
    "benchmark_ticker_validity_millis": 1000,
    "follower_ticker_validity_millis": 1000,
    "threshold_validity_millis": 2000,
    "loop_pause_time_millis": 5,
    "order_price_margin": 0.00002,
    "enable_position_threshold": true,
    "enable_order_reduce_only": false,
    "same_price_pause_time_millis": 500,

    "benchmark_quote_asset": "USDT",
    "follower_quote_asset": "USDC",

    "process_account_settings": true,
    "initial_leverage": 5,
    "margin_type": "CROSSED",
    "multi_assets_margin": true,
    "position_side_dual": false,

    "share_memory_project_id": 65,
    "share_memory_path_benchmark_ticker": "/home/ubuntu/code/shm_space/shm_umtaker_bechmark_ticker",
    "share_memory_path_follower_ticker": "/home/ubuntu/code/shm_space/shm_umtaker_follower_ticker",
    "share_memory_path_early_run": "/home/ubuntu/code/shm_space/shm_umtaker_early_run",
    "share_memory_path_benchmark_beta": "/home/ubuntu/code/shm_space/shm_umtaker_benchmark_beta",
    "share_memory_path_follower_beta": "/home/ubuntu/code/shm_space/shm_umtaker_follower_beta",
    "share_memory_path_order": "/home/ubuntu/code/shm_space/shm_umtaker_order",

    "shm_group_main_node": true,
    "dt_group_main_node": true,
    "node_base_assets": [
        "BTC",
        "ETH",
        "BNB",
        "SOL",
        "XRP",
        "DOGE",
        "SUI",
        "LINK"
    ],

    "all_base_assets": [
        "BTC",
        "ETH",
        "BNB",
        "SOL",
        "XRP",
        "DOGE",
        "SUI",
        "LINK",
        "ORDI",
        "1000PEPE",
        "WLD",
        "AVAX",
        "1000SHIB",
        "WIF",
        "BCH",
        "LTC",
        "NEAR",
        "ARB",
        "NEO",
        "FIL",
        "TIA",
        "BOME",
        "ENA",
        "ETHFI",
        "1000BONK",
        "CRV",
        "KAITO",
        "IP",
        "TRUMP",
        "ADA",
        "PNUT",
        "HBAR"
    ]
}