{
    "logger_name": "Actuary",
    "logger_file_path": "logs/output_actuary.log",
    "logger_level": 2,
    "logger_max_files": 7,

    "account_flag": "test001",

    "inst_config_file": "config/inst_config.json.sample",

    "tg_bot_token": ":-",
    "tg_chat_id": -1,
    "tg_send_message": true,

    "margin_ratio_thresholds": [0.7, 0.9],
    "bnb_balance_thresholds": [0.05, 0.2],

    "api_key_hmac": "",
    "secret_key_hmac": "",
    "rest_use_intranet": false,
    "rest_local_ip": "",

    "ticker_valid_millis": 1000,
    "loop_pause_time_seconds": 5,

    "benchmark_quote_asset": "USDT",
    "follower_quote_asset": "USDC",

    "process_account_settings": true,
    "initial_leverage": 5,
    "margin_type": "CROSSED",
    "multi_assets_margin": true,
    "position_side_dual": false,

    "share_memory_project_id": 65,
    "share_memory_path_benchmark_ticker": "/home/ubuntu/code/shm_space/shm_umtaker_bechmark_ticker",
    "share_memory_path_follower_ticker": "/home/ubuntu/code/shm_space/shm_umtaker_follower_ticker",
    "share_memory_path_early_run": "/home/ubuntu/code/shm_space/shm_umtaker_early_run",
    "share_memory_path_beta": "/home/ubuntu/code/shm_space/shm_umtaker_beta",
    "share_memory_path_order": "/home/ubuntu/code/shm_space/shm_umtaker_order",

    "base_asset_list": [
        "BTC",
        "ETH",
        "NEO",
        "IP"
    ]
}