{
    "logger_name": "Receiver",
    "logger_file_path": "logs/output_receiver.log",
    "logger_level": 2,
    "logger_max_files": 7,

    "inst_config_file": "../config/inst_config.json.sample",

    "use_normal_ticker": false,
    "normal_ticker_use_intranet": false,
    "normal_ticker_local_ip": "",

    "use_best_ticker": true,
    "ticker_zmq_ipcs": [
        "tcp://127.0.0.1:22001"
    ],
    
    "calculate_sma_interval_seconds": 300,
    "stats_interval_seconds": 300,

    "enable_beta_strategy": true,
    "enable_early_run_strategy": true,

    "benchmark_quote_asset": "USDT",
    "follower_quote_asset": "USDC",

    "share_memory_project_id": 65,
    "share_memory_path_benchmark_ticker": "/home/ubuntu/code/shm_space/shm_umtaker_bechmark_ticker",
    "share_memory_path_follower_ticker": "/home/ubuntu/code/shm_space/shm_umtaker_follower_ticker",
    "share_memory_path_early_run": "/home/ubuntu/code/shm_space/shm_umtaker_early_run",
    "share_memory_path_beta": "/home/ubuntu/code/shm_space/shm_umtaker_beta",

    "base_asset_list": [
        "BTC",
        "ETH",
        "NEO",
        "IP"
    ]
}