{
    "logger_name": "Receiver",
    "logger_file_path": "logs/output_receiver.log",
    "logger_level": 2,
    "logger_max_files": 7,

    "benchmark_inst_config_file": "config/benchmark_inst_config.json.sample",
    "follower_inst_config_file": "config/follower_inst_config.json.sample",

    "use_ticker_source": "normal",

    "normal_ticker_use_intranet": false,
    "normal_ticker_local_ip": "",

    "ticker_zmq_ipcs": [
        "tcp://127.0.0.1:22001"
    ],

    "ticker_udp_ipcs": [
        {
            "mmap_file": "/tmp/bn_uperp_mem.dat",
            "host": "127.0.0.1",
            "port": 9800
        }
    ],

    "calculate_sma_interval_seconds": 300,
    "stats_interval_seconds": 300,

    "enable_beta_strategy": true,
    "enable_early_run_strategy": true,

    "early_run_calculation_type": "median",

    "benchmark_quote_asset": "USDT",
    "follower_quote_asset": "USDC",

    "share_memory_project_id": 65,
    "share_memory_path_benchmark_ticker": "/home/ubuntu/code/shm_space/shm_umtaker_bechmark_ticker",
    "share_memory_path_follower_ticker": "/home/ubuntu/code/shm_space/shm_umtaker_follower_ticker",
    "share_memory_path_early_run": "/home/ubuntu/code/shm_space/shm_umtaker_early_run",
    "share_memory_path_benchmark_beta": "/home/ubuntu/code/shm_space/shm_umtaker_benchmark_beta",
    "share_memory_path_follower_beta": "/home/ubuntu/code/shm_space/shm_umtaker_follower_beta",

    "group_main_node": true,
    "node_base_assets": [
        "BTC",
        "ETH",
        "BNB",
        "SOL",
        "XRP",
        "DOGE",
        "SUI",
        "LINK"
    ],

    "all_base_assets": [
        "BTC",
        "ETH",
        "BNB",
        "SOL",
        "XRP",
        "DOGE",
        "SUI",
        "LINK",
        "ORDI",
        "1000PEPE",
        "WLD",
        "AVAX",
        "1000SHIB",
        "WIF",
        "BCH",
        "LTC",
        "NEAR",
        "ARB",
        "NEO",
        "FIL",
        "TIA",
        "BOME",
        "ENA",
        "ETHFI",
        "1000BONK",
        "CRV",
        "KAITO",
        "IP",
        "TRUMP",
        "ADA",
        "PNUT",
        "HBAR"
    ]
}