{
    "logger_name": "Trader",
    "logger_file_path": "logs/output_trader.log",
    "logger_level": 2,
    "logger_max_files": 7,

    "api_key_ed25519": "",
    "secret_key_ed25519": "-----BEGIN PRIVATE KEY-----\n\n-----END PRIVATE KEY-----",
    "trade_use_intranet": false,
    "trade_local_ip": "",

    "open_place_order": false,
    "order_valid_millis": 8000,
    "loop_pause_time_seconds": 5,

    "order_limit_per_minute": 1200,
    "order_limit_per_10seconds": 300,

    "benchmark_quote_asset": "USDT",
    "follower_quote_asset": "USDC",

    "share_memory_project_id": 65,
    "share_memory_path_order": "/home/ubuntu/code/shm_space/shm_umtaker_order",

    "best_path_rest_url": "",
    "best_path_zmq_ipc": "tcp://127.0.0.1:15555",
    "trading_use_best_path": false,

    "base_asset_list": [
        "BTC",
        "ETH",
        "BNB",
        "SOL",
        "XRP",
        "DOGE",
        "SUI",
        "LINK",
        "ORDI",
        "1000PEPE",
        "WLD",
        "AVAX",
        "1000SHIB",
        "WIF",
        "BCH",
        "LTC",
        "NEAR",
        "ARB",
        "NEO",
        "FIL",
        "TIA",
        "BOME",
        "ENA",
        "ETHFI",
        "1000BONK",
        "CRV",
        "KAITO",
        "IP",
        "TRUMP",
        "ADA",
        "PNUT",
        "HBAR"
    ]
}